:root {
    --navbar-font-color: #6B48FF;
    --about-shadow-color: #1EE3CF;
    --bar-background-color: #F2F4F6;
    --background-color: #0D3F67;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    margin: 0;
    cursor: default;
    background-color: var(--background-color);
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

.section h3 {
    color: var(--background-color);
    font-size: 15vw;
    display: flex;
    margin: 0;
    margin-top: -80px;
    align-items: center;
    justify-content: center;
}

.section h3.show {
    text-shadow:-1px 0px var(--about-shadow-color),1px 0px var(--about-shadow-color),0px -1px var(--about-shadow-color),0px 1px var(--about-shadow-color);
    transition: all 0.5s ease-in;
}

p {
    font-size: 2vw;
    font-weight: bolder;
    color: var(--bar-background-color);
    margin: 0;
    z-index: 0;
}

h2 {
    z-index: 1;
    margin: 0;
    font-size: 3vw;
    color: var(--about-shadow-color);
}

.navbar {
    position: fixed;
    z-index: 5;
    right: 16px;
    color: var(--navbar-font-color);
    background-color: transparent;
}

.navbar__menu {
    display: flex;
    padding: 6px 16px;
    background-color: rgba(256, 256, 256, 0.8);
    border-radius: 30px;
    box-shadow: 2px 1px 10px 1px var(--navbar-font-color);
}

.navbar_menu_item {
    font-size: 18px;
    padding: 5px 35px;
    margin: 0 4px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.contactBtn {
    background-color: var(--navbar-font-color);
    color: white;
    border-radius: 30px;
}

.home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.avartar__container {
    display: inline-block;
    margin-top: -50px;
    width: 450px;
    height: auto;
}

.home__avartar {
    z-index: 0;
    width: 100%;
    height: 100%;
}

.home__container > h1 {
    color: white;
    z-index: 1;
    font-size: 85px;
}

.about {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
}

.about__container {
    display: flex;
    justify-content: center;
}

.about__info {
    border: 0;
    background-color: var(--bar-background-color);
    border-radius: 15px;
    box-shadow: 5px 5px var(--navbar-font-color);
    font-size: 20px;
    letter-spacing: -1px;
}

.about__info span:nth-child(1) {
    font-size: medium;
    letter-spacing: 2px;
    color: var(--about-shadow-color);
    border-bottom: 2px solid var(--navbar-font-color);
}

.about__info span:nth-child(2) {
    margin-top: 1px;
}

.name, .school {
    margin-bottom: 100px;
}

.about__info > span {
    color: black;
    display: flex;
    padding: 10px;
    margin-top: -10px;
}

.about__left {
    width: 200px;
}

.about__right {
    width: 400px;
}

.about__left, .about__right {
    margin-top: 50px;
}

.about__avartar__container {
    width: 400px;
    height: auto;
}

.about__avartar {
    width: 100%;
    height: 100%;
}

.skills {
    height: 100vh;
}

.skills__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.skills__sort {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.skills__left, .skills__right {
    margin-top: -10px;
    padding: 3%;
    width: 50%;
}

.skills__bar {
    margin-top: 10px;
    background-color: var(--bar-background-color);
}

.skill {
    width: 0%;
    font-size: 18px;
    text-align: right;
    padding-right: 2%;
    background-color: var(--navbar-font-color);
    transition: all 2s ease-in;
}

.skills__bar, .skill {
    height: 25px;
    line-height: 25px;
    border-radius: 15px;
}

.html.active {
    width: 90%;
}

.css.active {
    width: 80%;
}

.js.active {
    width: 70%;
}

.ts.active {
    width: 10%;
}

.react.active {
    width: 65%;
}

.node.active, .express.active, .mongo.active {
    width: 60%;
}

.works {
    height: 100vh;
}

.works__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 3%;
    margin-top: -5px;
}

.arrow_left::before {
    font-family: "FontAwesome"; content: "\f104";
    font-size: 60px;
}

.works__avartar__container {
    width: 500px;
    height: auto;
}

.notebook__avartar {
    width: 100%;
    height: 100%;
}

.works__detail {
    margin-top: -7%;
}

.works__description {
    margin-top: 20px;
}

.works__subtitle {
    background-color: var(--navbar-font-color);
    font-weight: bold;
    letter-spacing: 2px;
}

.works__description > div {
    margin-bottom: 3%;
}

.works__button {
    margin-top: 5%;
}

.works__button > a {
    margin-right: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: 0px 1px 8px 1px var(--about-shadow-color);
    padding: 2%;
    border-radius: 30px;
}

.works__button > a:hover {
    transition: all .2s linear;
    background-color: var(--about-shadow-color);
}

.arrow_right::before {
    font-family: "FontAwesome"; content: "\f105";
    font-size: 60px;
}

.contact {
    height: 60vh;
}

.contact__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__container > div {
    font-size: 20px;
    margin-bottom: 3%;
}

.contact__subtitle {
    font-weight: bold;
    letter-spacing: 2px;
}

.contact__subcontent {
    font-size: 18px;
}

.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}