:root {
    --base-font-color: #6B48FF;
    --highlight-color: #1EE3CF;
    --background-gray-color: #F2F4F6;
    --background-color: #0D3F67;
    --home-font-size: 5rem;
    --about-font-size: 1.2rem;
    --title-div-font-size: 1.25rem;
    --subtitle-div-font-size: 1.125rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    margin: 0;
    cursor: default;
    background-color: var(--background-color);
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

.section {
    width: 90%;
    margin: 0 auto;
}

.section h3 {
    color: var(--background-color);
    font-size: 15vw;
    display: flex;
    margin: 0;
    margin-top: -5rem;
    align-items: center;
    justify-content: center;
}

.section h3.show {
    text-shadow:-1px 0px var(--highlight-color),1px 0px var(--highlight-color),0px -1px var(--highlight-color),0px 1px var(--highlight-color);
    transition: all 1s ease-in;
}

p {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--background-gray-color);
    margin: 0;
    z-index: 0;
}

h2 {
    z-index: 1;
    margin: 0;
    font-size: 2.8rem;
    color: var(--highlight-color);
}

.navbar {
    position: fixed;
    z-index: 5;
    right: 1rem;
    color: var(--base-font-color);
    background-color: transparent;
}

.navbar__menu {
    display: flex;
    padding: 0.375rem 1rem;
    background-color: rgba(256, 256, 256, 0.8);
    border-radius: 30px;
    box-shadow: 2px 1px 10px 1px var(--base-font-color);
}

.navbar_menu_item {
    font-size: 1.125rem;
    padding: 0.313rem 2.188rem;
    margin: 0 0.25rem;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.contactBtn {
    background-color: var(--base-font-color);
    color: white;
    border-radius: 30px;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avartar__container {
    display: inline-block;
    width: 400px;
    height: fit-content;
}

.home__avartar {
    z-index: 0;
    width: 100%;
    height: 100%;
}

.home__container > h1 {
    color: white;
    z-index: 1;
    font-size: var(--home-font-size);
}

.about {
    height: 100vh;
}

.about__container {
    display: flex;
    justify-content: center;
}

.about__info {
    border: 0;
    background-color: var(--background-gray-color);
    border-radius: 15px;
    box-shadow: 5px 5px var(--base-font-color);
    font-size: var(--about-font-size);
    letter-spacing: -1px;
}

.about__info span:nth-child(1) {
    font-size: medium;
    letter-spacing: 2px;
    color: var(--highlight-color);
    border-bottom: 2px solid var(--base-font-color);
}

.about__info span:nth-child(2) {
    margin-top: 0.063rem;
}

.name, .school {
    margin-bottom: 6.25rem;
}

.about__info > span {
    color: black;
    display: flex;
    padding: 3%;
    margin-top: -3%;
}

.about__left {
    width: 15%;
}

.about__right {
    width: 25%;
}

.about__left, .about__right {
    margin-top: 5%;
}

.about__avartar__container {
    width: 400px;
    height: fit-content;
}

.about__avartar {
    width: 100%;
    height: 100%;
}

.skills {
    height: 100vh;
}

.skills__container {
    display: flex;
}

.skills__sort {
    margin-bottom: 2.5rem;
}

.skills__title {
    font-size: var(--title-div-font-size);
    letter-spacing: 2px;
    margin: 0;
}

.skills__left, .skills__right {
    margin-top: -0.625rem;
    padding: 3%;
    width: 50%;
}

.skills__bar {
    margin-top: 0.625rem;
    background-color: var(--background-gray-color);
}

.skill{
    width: 0%;
    font-size: var(--subtitle-div-font-size);
    text-align: right;
    padding-right: 2%;
    background-color: var(--base-font-color);
    transition: all 2s ease-in;
}

.skills__bar, .skill {
    height: 25px;
    line-height: 25px;
    border-radius: 15px;
}

.html.active {
    width: 90%;
}

.css.active {
    width: 80%;
}

.js.active {
    width: 70%;
}

.ts.active {
    width: 10%;
}

.react.active {
    width: 65%;
}

.node.active, .express.active, .mongo.active {
    width: 60%;
}

.works {
    height: 100vh;
}

.works__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    margin-top: -1%;
}

.works__avartar__container {
    width: 500px;
    height: fit-content;
}

.notebook__avartar {
    width: 100%;
    height: 100%;
}

.works__detail {
    margin-top: -7%;
}

.works__description {
    margin-top: 4%;
}

.works__subtitle {
    background-color: var(--base-font-color);
    font-weight: bold;
    letter-spacing: 2px;
}

.works__description > div {
    margin-bottom: 3%;
}

.works__button {
    margin-top: 7%;
}

.works__button > a {
    margin-right: 5%;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: 0px 1px 8px 1px var(--highlight-color);
    padding: 2%;
    border-radius: 30px;
}

.works__button > a:hover {
    transition: all 1s linear;
    background-color: var(--highlight-color);
}

.arrow__container {
    cursor: pointer;
}

.arrow_left::after {
    font-family: "FontAwesome"; content: "\f104";
    font-size: 3.75rem;
}

.arrow_right::after {
    font-family: "FontAwesome"; content: "\f105";
    font-size: 3.75rem;
}

.contact {
    height: 60vh;
}

.contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__container > div {
    font-size: var(--title-div-font-size);
    margin-bottom: 3%;
}

.contact__subtitle {
    font-weight: bold;
    letter-spacing: 2px;
}

.contact__subcontent {
    font-size: var(--subtitle-div-font-size);
}

.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 48rem) {
    .section h3 {
        margin: 0 auto;
    }

    p {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    .navbar {
        display: none;
        right: 0;
    }

    .home__container {
        padding: 3%;
        flex-direction: column;
        text-align: center;
    }

    .home__container > h1 {
        width: 90%;
        font-size: 3.5rem;
    }

    .about__container {
        flex-direction: column;
    }

    .about__avartar__container {
        order: 1;
        margin: -3% auto 0;
        width: 250px;
    }

    .about__left {
        order: 2;
        width: 90%;
    }

    .about__right {
        order: 3;
        width: 90%;
    }

    .about__left, .about__right {
        margin: 0 auto;
    }

    .name, .school {
        margin-bottom: 0;
    }

    .about__info {
        margin-bottom: 7%;
        box-shadow: none;
    }

    .about__info span {
        font-size: 1.1rem;
    }
    
    .skills__container {
        flex-direction: column;
        margin: 8% auto;
    }

    .skills__sort {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 18%;
    }

    .skills__title {
        margin-right: 5%;
    }

    .skills__bar {
        width: 100%;
    }

    .skills__left, .skills__right {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    
    .skills__bar {
        margin-top: 0;
    }

    .works__container {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 3% auto 0;
        padding: 0;
    }

    .works__avartar__container {
        order: 1;
        margin-top: 2%;
        width: 350px;
    }

    .works__detail {
        order: 2;
    }

    .works__button {
        text-align: center;
    }
    
    .arrow__container {
        margin-top: 5%;
        order: 3;
    }

    .left {
        margin-right: 40%;
    }

    .right {
        margin-top: -13%;
        margin-left: 40%;
    }

    .arrow_left::after, .arrow_right::after {
        font-size: 2.5rem;
    }

    .contact {
        height: 30vh;
    }
}